.profile {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(140,149,159,0.15);
  border: 1px solid #d0d7de;
  overflow: hidden;
  cursor: default;
  width: 380px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.description.noImage::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  content: "No image";
  font-size: 35px;
  color: #919191;
}

.avatar {
  border-radius: 50%;
  background-color: #f1f1f1;
  text-align: center;
  margin-bottom: 40px;
}

.name {
  font-weight: 600;
  font-size: 32px;
  color: #2c2c2c;
  margin-bottom: 10px;
}

.tag {
  margin-bottom: 10px;
}

.tag, .location {
  font-size: 24px;
  color: #919191;
  text-align: center;
}

.stats {
  display: flex;
}

.statsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 20px 5px;
  color: #919191;
  text-transform: capitalize;
  font-size: 20px;
  border: 1px solid #dae1ea;
  border-left: none;
  border-bottom: none;
  background-color: #f3f6f9;
  flex-basis: calc(100% / 3);
}

.statsItem:last-child {
  border-right: none;
}

.label {
  color: #919191;
  text-transform: capitalize;
  font-size: 20px;
}

.quantity {
  font-weight: 600;
  color: #000
}
